@charset "utf-8"; /* 반응형 */
@media screen and (max-width: 1050px) {
.pc-header{
  display: none !important;
 }
 .mb-header{
  display: block !important;
 }
}
@media screen and (max-width: 900px){
 
}
@media screen and (max-width: 600px) {
  .footer-inner {
    flex-direction: column;
  }
  .footer-inner .footer-right ul li a {
    margin-top: 10px;
    padding: 0 !important;
    text-align: left !important;
  }
  .footer-menu {
    gap: 10px !important;
  }
}
@media screen and (max-width: 390px) {
  .footer {
    padding: 20px 40px !important;
  }
  .footer-inner .footer-left-top span {
    margin: 0 !important;
  }
}
